@model Razor.Models.Product

@{
    ViewBag.Title = "Name And Price";
    Layout = "~/Views/_BasicLayout.cshtml";
}

<h2>Name And Price</h2>
The product name is @Model.Name and it costs $@Model.Price
