@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Index</h2>
    The day is: @ViewBag.Date.DayOfWeek
    <p />
    The message is: @ViewBag.Message
</body>
</html>
