@model HelperMethods.Models.Person

@{
    ViewBag.Title = "ModelPropertyInputHelpers";
}

<h2>ModelPropertyInputHelpers</h2>
@using (Html.BeginRouteForm("FormRoute", new { }, FormMethod.Post, new {  @class = "personClass", data_formType="person"}))
{
    <div class="dataElem">
        <label>PersonId</label>
        @Html.TextBox("PersonId")
    </div>
    <div class="dataElem">
        <label>First Name</label>
        @Html.TextBox("FirstName")
    </div>
    <div class="dataElem">
        <label>Last Name</label>
        @Html.TextBox("LastName")
    </div>
    <input type="submit" value="Submit" />
}