@model HelperMethods.Models.Person

@{
    ViewBag.Title = "TypedInputHelpers";
}

<h2>TypedInputHelpers</h2>
@using (Html.BeginRouteForm("FormRoute", new { }, FormMethod.Post, new {  @class = "personClass", data_formType="person"}))
{
    <div class="dataElem">
        <label>PersonId</label>
        @Html.TextBoxFor(m => m.PersonId)
    </div>
    <div class="dataElem">
        <label>First Name</label>
        @Html.TextBoxFor(m => m.FirstName)
    </div>
    <div class="dataElem">
        <label>Last Name</label>
        @Html.TextBoxFor(m => m.LastName)
    </div>
    <input type="submit" value="Submit" />
}
